<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>April Gustafson</h1>
  </div>

  <p id="demo">
    Welcome!
  </p>

  <button class="btn btn-dark" type="button" onclick="myFunction()">
    Enter
  </button>

  <div id="doge-image"/>

</body>

</html>